body {
  width: 100%;
}

.taskPgcontainer {
  max-width: 1000px;
  margin-left: auto;
  /* margin-right: auto; */
}

.taskContainer {
    border: 3px solid lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 10px gray;
    padding: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-wrap: wrap;
    background-color: white;
}

.login-card {
    /* width: 80%; */
    margin: 0;
    box-shadow: 4px 4px 10px gray;
    padding: 10px;
    max-width: 300px;
    max-height: 350px;
    width: 100%;
    text-wrap: wrap;
}

.taskContainer:hover {
  border-color: blue;
  transition: border-color 0.5s;
}

.taskTitle {
  text-align: center;
}

.taskButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.taskButton {
  width: 30%;
  margin: auto;
  background-color: lightblue;
}

.taskButton:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}
.taskButton:active {
  opacity: 0.65;
  transition: opacity 0.2s;
}

#edit {
  background-color: #3b82f6;
}

#save {
  background-color: green;
}
